@import '~normalize-scss/sass/normalize/import-now';
@import 'colors';
@import 'typography';
@import 'keyframes';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: baseline;
  border: 0;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1;
  color: $color--black;
  background: rgba($color--violet, 0.8);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(50%);
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.text {
  font-size: 1rem;
  line-height: 1.5;

  + .text {
    margin-top: 0.5rem;
  }
}

.layout {
  padding: 100px 0;
}

.container {
  width: auto;
  max-width: 1120px;
  margin: 0 auto;
  box-sizing: content-box;
}

.footer {
  padding: 100px 0 0;
  opacity: 1;
}

.player {
  position: relative;
  max-width: 450px;
  padding: 60px;
  margin: 0 auto;
  border-radius: 10px;
  background: rgba($color--white, 0.95);
  z-index: 100;

  &__file {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
    background: $color--violet;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba($color--violet, 0.5);

    svg {
      width: 100px;
      height: 100px;
      color: $color--violet-darker;
      margin-left: -5px;
    }

    &.playing {
      animation: neon 1.5s linear infinite;

      svg {
        animation: beat 1.5s linear infinite;
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }

  &__label {
    position: absolute;
    bottom: -10px;
    font-size: 0.8rem;
    font-weight: 600;
  }

  &__control {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50%;
    cursor: pointer;

    + .player__control {
      margin-left: 10px;
    }

    &.primary {
      width: 60px;
      height: 60px;
      background: $color--violet;
      color: $color--white;

      svg {
        width: 50%;
        height: 50%;
      }
    }

    &.secondary {
      width: 40px;
      height: 40px;
      margin-top: -10px;
      background: transparent;
      color: $color--violet;

      svg {
        width: 80%;
        height: 80%;
      }
    }

    &.play {
      svg {
        margin-left: 4px;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }

  &__action {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: $color--grey-dark;
    font-weight: 500;
    font-size: 0.8rem;

    + .player__action {
      margin-left: 10px;
    }

    &.active {
      color: $color--violet;
      font-weight: 600;
    }

    &.rate {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;

      svg {
        margin-left: 2px;
      }
    }
  }

  &__settings {
    position: absolute;
    top: 30px;
    right: 30px;
    left: 30px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
  }

  &__setting {
    position: relative;
    margin: 0;
    padding: 0;
    color: $color--grey;
    background: transparent;
    border: 0;
    cursor: pointer;

    &.active {
      color: $color--violet;
    }

    &:disabled {
      cursor: not-allowed;
    }

    .subicon {
      position: absolute;
      color: $color--grey-dark;
      right: -3px;
      bottom: -6px;
    }
  }
}

.bar {
  width: 100%;

  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
  }

  &__time {
    color: $color--grey-darker;
    font-size: 0.8rem;
    font-weight: 600;
  }

  &__input {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: $color--violet;
      border: 0;
      cursor: pointer;
   }
  }

  &__progress {
    position: relative;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 2px solid $color--grey;
  }

  &__knob {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    margin-left: -2px;
    border-radius: 50%;
    background-color: $color--violet;
  }
}

.playlist {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  padding: 30px;
  display: none;

  &__item {
    width: 100%;
    border: 1px solid $color--white-violet;
    border-radius: 5px;

    &.selected {
      border: 1px solid $color--violet;
    }

    + .playlist__item {
      margin-top: 10px;
    }
  }

  &__toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    color: $color--violet;
    border: 0;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.preview {
  &__control {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 20px;
    margin: 0;
    text-align: left;
    cursor: pointer;
  }
}

.background {
  &.waves {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 99;

    .wrapper {
      position:relative;
      width: 100%;
      height: 50vh;
      margin-bottom: -7px;
      min-height: 50vh;
      max-height: 50vh;
    }

    .parallax {
      &.isAnimated {
        > use {
          animation-play-state: running;
        }
      }

      > use {
        animation: wave 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
        animation-play-state: paused;

        &:nth-child(1) {
          animation-delay: -2s;
          animation-duration: 7s;
        }

        &:nth-child(2) {
          animation-delay: -3s;
          animation-duration: 10s;
        }

        &:nth-child(3) {
          animation-delay: -4s;
          animation-duration: 13s;
        }

        &:nth-child(4) {
          animation-delay: -5s;
          animation-duration: 20s;
        }
      }
    }
  }
}
