@keyframes beat {
  50% {
    transform: scale(1.1);
  }
}

@keyframes neon {
  50% {
    box-shadow: 0 0 20px rgba($color--violet, 0.8);
  }
}

@keyframes wave {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
